{% extends 'base.html' %}

{% block section %}
<div class="card text-black bg-primary mb-3" >
        <div class="card-header" style="background-color: rgb(67, 185, 185)">
         <h2 style="color: white">Tipo</h2>
        </div>
        </div>
    <hr>
{% endblock section %}

{% block maincontent %}
    <div class="card" style="width: 18rem;">
        {% for c in object_list %}
        <h2><a href="{% url 'tipo-detail' c.pk %}" >
            {{ c.nombre }} 
            <br>
        </a></h2>
            
        {% endfor %}
    </div>
{% endblock maincontent %}
